.waviy1 span {
    display: inline-block;
    animation: waviy1 1s infinite;

}

@keyframes waviy1 {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-10px)
    }
}

.waviy2 span {
    display: inline-block;
    animation: waviy2 2s infinite;

}

@keyframes waviy2 {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}